@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,800");

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
}

body{
    background-image: url("../assets/EOB_space.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainHeader{
    margin-top: 25px;
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.mainHeader > img{
    width: 2em;
    height: 2em;
    display: inline;
}

.mainHeader > h1{
    display: inline;
    color: purple;
    background: linear-gradient(purple, violet);
    background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

#copyURL{
    background-color: #363636;
    margin: 25px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}

#copyURL > p{
    border: 2px solid gray;
    background-color: white;
    padding: 3px;
    display: inline-block;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

#copyURL > div{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
	border-radius: 5px;
    display: inline-block;
}

#copyURL > div > i{
    color: #363636;
}

#menuButtons > input[type="button"]:hover{
	background-color: #eee;
}


#builds{
    background-color: white;
    margin: 25px;
    margin-top: 0;
    padding: 10px;
    overflow: hidden;
}

.build{
    display: inline-block;
}

.character, .startingItem{
    display: inline-table;
    width: 1%;
}

.character > img{
    width: 120px;
    height: 120px;
    border-radius: 25px;
    border: 3px solid lightgray;
    background-color: gray;
}

select{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: 3px solid lightgray;
    background-color: gray;
    width: 100%;
}

.startingItem > img{
    width: 120px;
    height: 120px;
    border-radius: 25px;
    border: 3px solid lightgray;
}

.perks{
    margin-top: 10px;
}

.perks > div{
    float: left;
    width: 120px;
    padding: 5px;
}

.perks > div > img{
    width: 100%;
    height: 120px;
    border-radius: 25px;
    border: 3px solid lightgray;
}

.perks > div > select{
    display: block;
}

.perkAttributes{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    float: right;
}

.perkAttributes > div{
    background-color: gray;
    margin: 10px;
    padding: 5px;
}

.perkAttributes > div > h2{
    font-size: 1.2em;
}

.perkAttributes > div > ul{
    padding-left: 5px;
    list-style-type: none;
}