<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="The API Endpoint for EOB Builder.">
        <meta name="og:title" content="EOB Builder API Endpoint">
        <meta name="og:description" content="The API Endpoint for EOB Builder.">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>EOB Builder API</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}?v=1.0">
    </head>

    <body>
        <div id="main">
            <img src="../static/assets/EOB_logo.svg">

            <h1>API endpoint</h1>

            <p>This URL is an API endpoint for receiving Enemy On Board data.</p>
            <p>Go to the <a href="{{ url_for('info') }}">homepage</a> for more information.</p>
        </div>
    </body>
</html>