<!DOCTYPE html>
<html>
    <head>
        <meta name="keywords" content="EnemyOnBoard, Enemy On Board, EOB, Builds">
        <meta name="description" content="Create and share Enemy On Board builds!">
        <meta name="og:title" content="EOB Builder">
        <meta name="og:description" content="Create and share Enemy On Board builds!">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>EOB Builder</title>

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/8fbeccc6cb.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
        <script src="{{ url_for('static', filename='js/build.js') }}"></script>
        <script src="{{ url_for('static', filename='js/loadGET.js') }}"></script>
        
        <script type="text/javascript">
            window.addEventListener("load", function(){
                loadGET("{{ character }}", "{{ item }}", {{ perks|safe }});
            });
        </script>
    </head>

    <body>
        <div class="mainHeader">
            <a href="{{ url_for('info') }}">
                <img src="../static/assets/EOB_logo.svg">
                <h1>Enemy On Board</h1>
            </a>
        </div>

        <div id="main">
            <div id="copyURL">
                <p id="currentURL">http://eob-builder.herokuapp.com/build</p>
                
                <div onclick="copyURL();">
                    <i class="fas fa-copy"></i>
                </div>
            </div>
            
            <div id="builds">
                <div class="build">
                    <div class="character">
                        <img src="../static/assets/characters/otto_icon.png">

                        <select onchange="changeCharacter(this.value, this.parentElement);" name="character">
                            <option value="otto">Otto</option>
                            <option value="triss">Triss</option>
                            <option value="virgil">Virgil</option>
                            <option value="lucius">Lucius</option>
                            <option value="xenna">Xenna</option>
                            <option value="monkus">Monkus</option>
                            <option value="sarrel">Sarrel</option>
                            <option value="niko">Niko</option>
                            <option value="silas">Silas</option>
                        </select>
                    </div>

                    <div class="startingItem">
                        <img src="../static/assets/items/health_kit.png">

                        <select onchange="changeItem(this.value, this.parentElement);" name="startingItem">
                            <option value="health_kit">Health Kit</option>
                            <option value="stun_gun">Stun Gun</option>
                            <option value="snare_traps">Snare Trap</option>
                            <option value="force_baton">Force Baton</option>
                            <option value="EMP">EMP</option>
                            <option value="jump_drive">Jump Drive</option>
                            <option value="hookshot">Hookshot</option>
                            <option value="stim_serum">Stim Serum</option>
                            <option value="force_blaster">Force Blaster</option>
                        </select>
                    </div>
                    
                    <div class="perks">
                        
                    </div>
                </div>
                
                <div class="attributes">
                    <div class="itemAttributes">

                    </div>

                    <div class="perkAttributes">
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
